
# macOS
.DS_Store

# Editor backup files
*~

# Node packages
node_modules/

# Lock files (keep yarn.lock, ignore npm)
package-lock.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# TypeDoc output
docs/
